# Environments & Virtualenv
venv/
.venv/
env/
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Testing & Linting cache
.pytest_cache/
.mypy_cache/
.ruff_cache/
htmlcov/
.coverage

# SQLite & local database dumps
*.db
*.sqlite
*.sqlite3

# IDEs & OS files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

